<div class="box inventory">
    <header>Inventory</header>

    <ul data-bind="foreach: items">
        <li>
            <span class="item"
                  draggable="true"
                  data-bind="
                        text: name,
                        event: {
                            mouseover: $parent.select,
                            mouseout: $parent.clearSelection,
                            click: $root.use,
                            contextmenu: $root.interact
                        }"
                  ondragover="event.preventDefault()">
            </span>,
        </li>
    </ul>
</div>